.centerhead {
  text-align: center;
}
body {
  background-image: url("../img/bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  width: 100%;
}

.panel1 {
  background-color: lightgreen;
}
